body {
    font-family: Helvetica, sans-serif;
    background-color:#eeebe3;
}

h1 {
    color: white;
    background-color: black;
}

h2, .whatis{
    color: rgb(236, 236, 236);
    background-color: black;
}