*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background:#fffefa;
}


h1, h2, .whatis{
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 5px;
    padding-left: 15px;

}

img {
    margin-left: auto;         /* Auto margin on the left */
    margin-right: auto;
    display: block;
}